.flexContainer1 {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    grid-template-rows: 40px 40px;
    grid-template-columns: 250px 150px 200px;
    padding: 10px;
    justify-content: center;
}

.flexContainer2 {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    grid-template-rows: 40px;
    grid-template-columns: 205px 10px 385px;
    padding: 10px;
    justify-content: center;
}

.pageText {
    padding: 5px;
    font-family: 'Markazi Text', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    text-align: left;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #000;
}