.flexContainer1 {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 400px;
    padding: 10px;
    justify-content: left;
  }

.title {
    color: black;
    font-family: 'Markazi Text', sans-serif;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
  }

.subTitle {
    color: black;
    font-family: 'Markazi Text', sans-serif;
    font-size: 1.0rem;
    text-align: left;
  }